body {
	background-image: url(langit.jpg);
}
h1 {
	font-size: 50px ;
	color: black;
	text-align: center;
	border-style: outset;
	border-color: #fcb4b4 ;
	background-color: #fcb4b4 ;
}
table {
	color: black;
	text-align: center;
	
	
}
h2 {
	font-size: 50px ;
	color: black;
	text-align: center;

}
p {
	color: black;
	font-size: 20px ;
}

nav {
	display: block;
	background-color: pink;
	overflow: hidden;
	text-shadow: 1px 1px 1px pink;
	border-radius: 5px;
	margin-bottom: 5%;
}

nav a {
	float: left;
	color: purple;
	padding: 15px 20px;
	text-decoration: none;
	border: 0.5px solid pink;
	border-radius: 2px;
}

nav a:hover {
	background-color: purple;
	color: pink;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	float: left;
}
.container {
			max-width: 1200px;
			margin: auto;
			
}

table img{
	width: 300px
}

table p{
	font-size: 16px;
	font-family: Helvetica;
	line-height: 1.5;
	letter-spacing: 0.5px;
}